.circle {
    display: flex;
    margin-left: 600px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(74, 70, 70);
    opacity: 0.5;
  }
  
  .triangle {
    margin-top: 50px;
    margin-left: 600px;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(229, 197, 81);
    padding-bottom: 200px;
    
}
    .rectangle {
        /* position: absolute; */
        /* top: 50px;
        left: 50px; */
        /* z-index: 1; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: auto;
        height: 100px;
        background-color: blue; /* Set your desired background color */
      }
    .cont1{
        /* display: flex; */
        justify-content: center;
        align-items: center;
        background-color: rgb(229, 197, 81);
    }  
    h1{
        margin-left: 550px;
        color: white;
        padding-top: 30px;
    }
    h2{
        color: black;
    }